<p id="notice"><%= notice %></p>
<!-- <h1>Vistor (Unique): <%#= @book.impressionist_count filter: :session_hash %></h1> -->
<h1>Vistor: <%= @book.impressions_count %></h1>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
